{% extends 'notes/base.html' %}

{% block title %}About Us | Notes App{% endblock %}

{% block content %}
<div class="container">
    <h1 class="mt-4 mb-3 fw-bold text-primary">About NotesApp</h1>
    <p class="lead">This is a personal note-taking app made for securely writing, storing, and managing your thoughts and ideas.</p>

    <hr>
    <h4>Developer</h4>
    <p>Name: Ashish Kumar<br>
       Email: ashishkumar8603371492@gmail.com<br>
       College: Tulas Institute, Dehradun</p>

    <p>If you find any bugs or want to give suggestions, feel free to <a href="{% url 'contact' %}">Contact Me</a>.</p>
</div>
{% endblock %}
